<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<meta charset="utf-8">
		<title>Databaes GiftCards</title>		
		<link rel="stylesheet" type="text/css" href="style.css">
		<!--for icons-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    		{{#each jsscripts}}
    			<script src="/static/{{this}}"></script>
   		{{/each}}
	</head>
  <body>
		<div style="margin-left: 185px;">
			<img src="databaes.png" id=card3>
			<img src="giftcard.png" id="card1">
		</div>
				
	  {{{body}}}
	  
	<!--a footer-->
	<div class="footer">
		<p id="footer" style="padding-top: 22px;">Made by Databaes Team</p>
		<p id="footer">Oregon State University</p>
		<p id="footer">Summer 2020</p>
	</div>
  </body>
</html>
