<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<meta charset="utf-8">
		<title>Databaes GiftCards</title>		
		<link rel="stylesheet" type="text/css" href="style.css">
		<!--for icons-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
  <body>
		<div style="margin-left: 185px;">
			<img src="databaes.png" id=card3>
			<img src="giftcard.png" id="card1">
		</div>
		
		<div class="nav" id="myNav">
			<div style="align-items: center;">
				<ul>
					<li><a href="index">Home</a></li>
					<li><a href="senders">Senders</a></li>
					<li><a href="recipients">Recipients</a></li>
					<li><a href="giftCards">GiftCards</a></li>
					<li><a href="orders">Orders</a></li>
					<li><a href="order_history">Orders History</a></li>
				</ul>
			</div>
		</div>

		<br/>
		
	  {{{body}}}
	  
	<!--a footer-->
	<div class="footer">
		<p id="footer" style="padding-top: 22px;">Made by Databaes Team</p>
		<p id="footer">Oregon State University</p>
		<p id="footer">Summer 2020</p>
	</div>
  </body>
</html>
