<html>

    <div class="nav" id="myNav">
    	<div style="align-items: center;">
    	    <ul>
    		    <li><a href="index.html">Home</a></li>
    		    <li><a href="/senders" class="current">Senders</a></li>
    		    <li><a href="/recipients">Recipients</a></li>
    		    <li><a href="/giftcards">GiftCards</a></li>
    		    <li><a href="/orders">Orders</a></li>
    	    	<li><a href="/orderhistory">Orders History</a></li>
    	    </ul>
    	</div>
	</div>
		
	<br/>
	<hr>
	<h3 style="font-size: 30px; text-align: center;">Senders</h3>
	<hr>
	<br/>
	<p>Senders can come to this page and search for orders by their name.  This will update
	the page with all the order lines associated with that particular name.</p>

	<div>
		<form id='search_senders' action='' method=''>
			<!--- this form does not submit directly, the button handles all the interaction with backend -->
    		<label> Search for orders by the sender email:</label>
    		<input id='senders_search_string' type='text' name='senders_search_string' value=''>
    		<input type="button" value="Search" onclick="search_senders()">
		</form>
	</div>
 
   <h3>Add a new sender:</h3>
    <form id="addsender" action="/senders" method="post">
      Sender Email: <input type="text" name="email"><br>
      Giftcard name to send: <input type="text" name="name"><br>
      The amount of the giftcard: <input type="number" name="amount"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
    <br/>
 
    <table>
        <thead> 
            <th>email</th>
            <th>name</th>  
            <th>amount</th>  
        </thead> 
        <tbody>
            {{#each senders}} 
            <tr> 
                <td>{{email}}</td> 
                <td>{{name}}</td>
                <td>{{amount}}</td>
            </tr> 
            {{/each}} 
        </tbody> 
</table> 

</html>
