<hr>
<h3 style="font-size: 30px; text-align: center;">Senders</h3>
<hr>
	
<br/>
<div style="margin-top: 30px;">
	  <p>Senders can come to this page and search for orders by their name. This will update
		the page with all the order lines associated with that particular name.</p>	
</div>

<br/>
		
	<table>
		<thead>
			<th>Sender Email</th>
			<th>GiftCard Name</th>
			<th>Quantity</th>
			<th>Price</th>
		</thead>
		<tbody>
			{{#each senders}}
			<tr>
				<td>{{sender_email}}</td>
		       		<td>{{name}}</td>
		        	<td>{{quantity}}</td>
		        	<td>{{price}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table> 

    
